@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: rgba(255, 166, 0, 0.096);
}

header {
  position: fixed;
  z-index: 5;
  width: 100%;
  background: #ffffff;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  margin: 0;
}

.logo a {
  display: flex;
  align-items: center;
}

.logo-img {
  height: 180px; 
  width: auto;
}

.text-container {
  text-align: center;
  width: 100%;
  margin-top: 20px;
}

.text-container p {
  font-weight: bold;
  font-size: 22px;
  margin: 0;
}

.text-container h1 {
  font-size: 50px;
  color: rgb(255, 145, 0);
}
.all-links {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; 
}

.all-links li {
  margin-right: 20px;
}

.all-links li:last-child {
  margin-right: 0;
}

.all-links li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.all-links .dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffffd8;
  z-index: 1;
  border-radius: 10%;
}

.all-links .dropdown-content li {
  margin: 0;
}

.all-links .dropdown:hover .dropdown-content {
  display: block;
}

.all-links .dropdown-content a {
  color: #000000;
  padding: 12px;
  display: block;
}

header a, footer a {
  margin-left: 40px;
  text-decoration: none;
  color: #ffffff;
  height: 100%;
  padding: 20px 0;
  display: inline-block;
  font-size: 130%;
}

header a:hover, footer a:hover {
  color: orange;
}

.homepage {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.background-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; 
}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.homepage::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .homepage {
    background-size: contain;
  }
}

.homepage .content {
  display: flex;
  height: 85%;
  z-index: 3;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.homepage .content h1 {
  font-size: 60px;
  font-weight: 750;
  margin-bottom: 10px;
}

.homepage  {
  margin-bottom: 50px;
  color: #ffffff;
  font-size: 25px;
  text-align: center;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px 0;
}

.contact h2 {
  margin-bottom: 20px;
  font-size: 200%;
}

.contact p {
  text-align: left;
}

.contact .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 50px;
}

.contact .col {
  flex: 1;
  margin: 0 10px;
}

.contact .col.information {
  max-width: 400px;
  align-self: flex-start;
}

.contact .col.form {
  max-width: 400px;
  align-self: flex-start;
}

.contact .col p {
  margin-bottom: 10px;
  display: flex; 
  align-items: center; 
}

.contact .col p i {
  color: #7a7a7a;
  margin-right: 10px;
  flex-shrink: 0; 
}

.contact form input,
.contact form textarea {
  height: 45px;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  font-size: 16px;
  outline: none;
  border: 1px solid #bfbfbf;
}

.contact form textarea {
  height: 150px;
  resize: vertical;
}

.contact form button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 17px;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background: #333;
  transition: 0.2s ease;
}

.contact form button:hover {
  background: #525252;
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  background: #141b3d;
  padding: 20px 0;
}

footer div {
  padding: 0 10px;
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

footer span {
  color: #fff;
}

footer a {
  padding: 0;
}

@media screen and (max-width: 860px) {
  .navbar .all-links {
    position: fixed;
    left: -100%;
    width: 300px;
    display: block;
    height: 100vh;
    top: 75px;
    background: #333;
    transition: left 0.3s ease;
  }

  .navbar #menu-toggler:checked~.all-links {
    left: 0;
  }

  .navbar .all-links li {
    font-size: 18px;
  }

  .navbar #hamburger-btn {
    display: block;
  }

  section > p {
    text-align: center;
  }

  section .cards .card {
    width: calc(100% / 2 - 15px);
    margin-bottom: 30px;
  }

  .homepage .content h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .homepage .content .text {
    font-size: 17px;
  }

  .content a {
    font-size: 17px;
    padding: 9px 20px;
  }

  .contact .row {
    flex-direction: column;
  }

  .contact .row .col {
    width: 100%;
  }

  .contact .row .col:last-child {
    margin-top: 40px;
  }

  footer a {
    height: 0;
  }
}

@media screen and (max-width: 560px) {
  section .cards .card {
    width: 100%;
    margin-bottom: 30px;
  }
}

a{
    text-decoration: none;
  }
  #testimonials{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100%;
  }
  .testimonial-heading{
    letter-spacing: 1px;
    margin: 30px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
  }
  .testimonial-heading h2{
    font-size: 200%;
  }
  .testimonial-box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width:100%;
  }
  .testimonial-box{
    width:500px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    background-color: #ffffff;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
  }
  .profile-img{
    width:50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
  }
  .profile-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  .profile{
    display: flex;
    align-items: center;
  }
  .name-user{
    display: flex;
    flex-direction: column;
  }
  .name-user strong{
    color: #3d3d3d;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
  }
  .name-user span{
    color: #979797;
    font-size: 0.8rem;
  }
  .reviews{
    color: #f9d71c;
  }
  .box-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  .client-comment p{
    font-size: 0.9rem;
    color: #4b4b4b;
  }
  .testimonial-box:hover{
    transform: translateY(-10px);
    transition: all ease 0.3s;
  }
  
  @media(max-width:1060px){
    .testimonial-box{
        width:45%;
        padding: 10px;
    }
  }
  @media(max-width:790px){
    .testimonial-box{
        width:100%;
    }
    .testimonial-heading h1{
        font-size: 1.4rem;
    }
  }
  @media(max-width:340px){
    .box-top{
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    .reviews{
        margin-top: 10px;
    }
  }
  ::selection{
    color: #ffffff;
    background-color: #252525;
  }


  .portfolio {
    padding: 60px 0;
  }
  
  .portfolio h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 200%;
  }
  
  .portfolio .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding-left: 13%;
    padding-right: 13%;
  }
  
  .portfolio .card {
    background: #ffffff79;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    width: calc(100% / 3 - 30px);
    text-align: center;
    transition: transform 0.3s ease;
  }
  
  .portfolio .card:hover {
    transform: translateY(-5px);
  }
  
  .portfolio .card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
    margin-bottom: 20px;
  }
  
  .portfolio .card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .portfolio .card p {
    font-size: 1rem;
    color: #000000;
    line-height: 1.5;
  }
  
  @media (max-width: 1024px) {
    .portfolio .card {
      width: calc(50% - 30px);
    }
  }
  
  @media (max-width: 768px) {
    .portfolio .card {
      width: calc(100% - 30px);
    }
  }
  
  .about {
    text-align: center;
    font-size: 150%;
}

.about img {
    width: 50%;
    aspect-ratio: 16 / 9;
    object-fit: fill;
    border-radius: 7px;
    display: block;
    margin: 0 auto;
    margin-top: 2%;
}

.about p {
  text-align: left;
    font-size: 80%;
    margin-top: 3%;
    padding-left: 10%;
    padding-right: 10%;
}

.about button {
  background-color: #000000; 
  border: none; 
  color: white; 
  padding: 15px 32px; 
  text-align: center; 
  text-decoration: none; 
  display: inline-block; 
  font-size: 16px; 
  margin: 10px 0; 
  cursor: pointer; 
  border-radius: 4px; 
  transition: background-color 0.3s ease, transform 0.3s ease; 
}

.about button:hover {
  background-color: #ff9900; 
  transform: scale(1.05); 
}

.marquee {
  position: relative;
  width: 60%;
  height: 1.7em;
  font-size: 3em; 
  display: grid;
  place-items: center;
  overflow: hidden;
  margin-top: 4%;
  margin-left: 20%;
}
.marquee_text {
  position: absolute;
  min-width: 100%;
  white-space: nowrap;
  animation: marquee 8s infinite linear;
  font-size: 170%;
  color: rgb(255, 123, 0);
  font-weight: bold;
}

@keyframes marquee {
  0% { transform: translateX(100%); } 
  100% { transform: translateX(-100%); } 
}


.marquee_blur {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  filter: contrast(65);
}

.marquee_blur p {
  filter: blur(0.03em);
}

.marquee_clear {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
}



html {
  font-size: 14px;
  font-weight: 400;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.u-clearfix:before,
.u-clearfix:after {
  content: " ";
  display: table;
}

.u-clearfix:after {
  clear: both;
}

.u-clearfix {
  zoom: 1;
}

.subtle {
  color: #000000;
}

.card-container {
  margin: auto ;
  position: relative;
  width: 692px;
  height: 440px; 
  overflow: hidden; 
}

.card {
  padding: 30px;
  position: relative;
  box-shadow: 0 0 5px rgba(75, 75, 75, 0.07);
  z-index: 1;
}

.card-body {
  display: inline-block;
  float: left;
  width: 310px;
}

.card-number {
  margin-top: 15px;
}

.card-title {
  font-family: 'Cormorant Garamond', serif;
  font-size: 60px;
  font-weight: 300;
  line-height: 60px;
  margin: 10px 0;
}

.card-description {
  display: inline-block;
  font-weight: 300;
  line-height: 22px;
  margin: 10px 0;
}

.card-read {
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 6px;
  margin: 5px 0 20px;
  position: relative;
  text-align: right;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

.card-media {
  float: right;
  width: 300px; 
  height: auto;
  margin-left: 30px; 
  object-fit: cover; 
  position: relative;
  top: -270px; 
}

.card-shadow {
  background-color: #ffffff;
  box-shadow: 0 2px 25px 2px rgba(0, 0, 0, 0.1), 0 2px 50px 2px rgba(0, 0, 0, 0.1), 0 0 100px 3px rgba(0, 0, 0, 0.25);
  height: 1px;
  margin: -1px auto 0;
  width: 80%;
  z-index: -1;
}

.card-container h1{
font-size: 200%;
  text-align: center ;
  padding-top: 4%;
}

@media (max-width: 768px) {
  .portfolio .card {
    width: calc(100% / 2 - 30px);
  }
}

@media (max-width: 576px) {
  .portfolio .card {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .all-links {
    flex-direction: column;
    align-items: center;
  }

  .all-links li {
    margin-bottom: 10px;
  }

  .logo-img {
    height: 150px; 
  }

  .text-container h1 {
    font-size: 40px;
  }

  .contact .row {
    flex-direction: column;
    align-items: center;
  }

  .contact .col {
    width: 100%;
    max-width: none;
  }
}


/* Mobile Styles */

/* Ensure the font-size is appropriately scaled down for mobile devices */
html {
  font-size: 14px; /* Adjust based on your design needs */
}

/* Adjustments for the homepage */
.homepage .content h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 10px;
}

.homepage .content .text {
  font-size: 17px;
}

/* Navigation adjustments for small screens */
@media (max-width: 768px) {
  .navbar .all-links {
    position: fixed;
    left: -100%;
    width: 300px;
    display: block;
    height: 100vh;
    top: 75px;
    background: #333;
    transition: left 0.3s ease;
  }

  .navbar #menu-toggler:checked~.all-links {
    left: 0;
  }

  .navbar .all-links li {
    font-size: 18px;
  }

  .navbar #hamburger-btn {
    display: block;
  }

  section > p {
    text-align: center;
  }

  section .cards .card {
    width: calc(100% / 2 - 15px);
    margin-bottom: 30px;
  }

  .contact .row {
    flex-direction: column;
  }

  .contact .row .col {
    width: 100%;
  }

  .contact .row .col:last-child {
    margin-top: 40px;
  }

  footer a {
    height: 0;
  }
}

/* Further adjustments for very small screens */
@media (max-width: 560px) {
  section .cards .card {
    width: 100%;
    margin-bottom: 30px;
  }
}

/* Testimonial section adjustments for mobile screens */
@media (max-width: 1060px) {
  .testimonial-box {
    width: 45%;
    padding: 10px;
  }
}

@media (max-width: 790px) {
  .testimonial-box {
    width: 100%;
  }

  .testimonial-heading h1 {
    font-size: 1.4rem;
  }
}

@media (max-width: 340px) {
  .box-top {
    flex-wrap: wrap;
    margin-bottom: 10px;
  }

  .reviews {
    margin-top: 10px;
  }
}

/* Portfolio adjustments for mobile screens */
@media (max-width: 1024px) {
  .portfolio .card {
    width: calc(50% - 30px);
  }
}

@media (max-width: 768px) {
  .portfolio .card {
    width: calc(100% - 30px);
  }
}

/* General mobile adjustments for header and footer */
@media (max-width: 767px) {
  .all-links {
    flex-direction: column;
    align-items: center;
  }

  .all-links li {
    margin-bottom: 10px;
  }

  .logo-img {
    height: 150px; 
  }

  .text-container h1 {
    font-size: 40px;
  }

  .contact .row {
    flex-direction: column;
    align-items: center;
  }

  .contact .col {
    width: 100%;
    max-width: none;
  }
}
